{% extends "layout.html.twig" %}
{% block title %}
Show Besoins
{% endblock %}
{% block body %}
<div class="btn-group pull-right" style="margin-top: 15px;">              
  <button class="btn btn-primary "><span class="glyphicon glyphicon-cog"></span> Selectioner une action</button>
  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu"">
    <li><a id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a></li>
    <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
  </ul>
</div>
<div style="margin-left:100px; margin-top:100px; width:2700px;">

<div class="row">
<div class="col-md-4">
    <div class="box">
      <header>
          <h4><span class="glyphicon glyphicon-file"></span>Informations du Besoin </h4>
      </header>
        <ul class="list-group">
         <li class="list-group-item"><strong>Nom de l'Employe :</strong> {{ entity.employe.nom }}</li>
         <li class="list-group-item"><strong>La date d'Emission :</strong> {{ entity.dateEmission|date("d/m/y") }}</li>
         <li class="list-group-item"><strong>Accord :</strong>{% if entity.accord == 0 %} Non {% else %} Oui {% endif%}</li>
          <br/>
      <header>
          <h4><span class="glyphicon glyphicon-file"></span>Informations sur Les Articles du Besoin</h4>
      </header>
      <ul class="list-group">
      <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Nom Article</th>
                <th>Référence Article</th>
                <th>Quantite</th>
            </tr>
            </thead>
            <tbody>
        {% include "gestionStock/Expression_besoin/formExpression.html.twig"%}
            </tbody>
      </table>
        </ul>
    </div>
</div>
</div>
</div>
<form id="deleteForm" action="{{ path('expression_besoin_delete', { 'id': entity.id }) }}" method="POST">
    {{ form_widget(delete_form) }}
</form> 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

        $('#js-delete').on('click', function(){
            $('#deleteForm').submit();
            return false;
        });
    })(jQuery);
</script>
{% endblock %}
