{% for entity in entities %}
    <tr>
        <td class="hidden-print"><input type="checkbox" name="entities[]" value="{{ entity.id }}"></td>
        <td>{{ entity.IdSortie }}</td>
        <td>{{ entity.date|date("d/m/y") }}</td>
        <td class="hidden-print">
            <div class="text-center">
                <a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="afficher" href="{{ path('sortie_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="modifier" href="{{ path('sortie_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
        </td> 
    </tr>
{% endfor %}

{% include "default/pagination.html.twig" %}

<script>   
(function($) {

    /* tooltip */
    $('a[data-toggle="tooltip"]').tooltip();

})(jQuery);
</script>