{% extends "layout.html.twig" %}
{% block title %}
Mise à jour Compte
{% endblock %}
{% block body %}
<form class="form-horizontal" method="POST" action="{{ path('password_update') }}" style ="margin-left:30px;" >
<br/><br/>
    <fieldset>
        <legend><span class="glyphicon glyphicon-lock"></span> Changer votre mot de passe</legend>
        <br/>
        
        <div style = "width:500px; margin-left:300px;">
        {{ form_row(form.plainPassword.first,{'attr':{'class':'form-control'}}) }}
        {{ form_row(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_rest(form) }}
 </br>
    <div class="form-group" style="margin-left:-200px;">
        <div class="col-md-offset-6 col-md-6">
            <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Mettre à jour</button>
        </div>
    </div>
    </fieldset>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
    })(jQuery);
</script>
{% endblock %}
           